body{
    display: flex;
    justify-content: center;
    background-color: #E6E6E6;
}
.all{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;

}
.head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #85B7C4;

}

.head .title {
    font-size: 50px;

}
.head .h2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.head img{
    height: 50px;
    margin-left: 100px;
}
.bar{
    width: 100%;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #85B7C4;
}
.t{
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #85B7C4;
}
.content{
    border-top: 2px solid #85B7C4;
    border-left: 2px solid #85B7C4;
    margin: 0px 50px;
}
.info{
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}
.info img{
    width: 100px;
    height: 150px;
}
.job{
    margin: 10px;
    font-size: 25px;
    color: #C00000;
}

.edu{
    font-size: 18px;
    margin: 10px;
}

.school_experience{
    margin: 15px;
}
.mp_experience{
    margin: 15px;
}
.skill{
    margin: 10px;
}
.evaluation{
    margin: 10px;
}

.space{
    height: 20px;
}